@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@media (hover: none) {
  * {
    cursor: default;
  }
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #0c0b08;
}

::-webkit-scrollbar-thumb {
  background-color: #dcca8707;
  border-radius: 60px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
